.grid-container {
  width: 240px;
  height: 240px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  gap: 5px;
}

.grid-item {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  background-color: transparent;
}
